### Processamento dos dados sobre a Participação em sites Question & Answer no mundo, a fim de facilitar a construção da visualização

https://homes.cs.washington.edu/~reinecke/Publications_files/Oliveira2016.pdf

O objetivo do artigo é entender a variação de usuários passivos entre países e analisar oportunidades para motivar contribuições em todo o mundo. Para isso compararam dados entre 116 países no Stackoverflow e no Superuser juntamente a dados sobre a cultura e características de cada país, como o índice de GINI, proeficiência em ingles entre outros. A partir dos dados construíram modelos de regressao para verificar se existia correlação entre os dados


Tarefas a serem realizadas:
- Que características além de 'alta' proeficiência em inglês os países que mais participam possuem? 
- Quem mais responde e quem mais pergunta?

Ideias:
- Um gráfico que montre quantidade de respostas e quantidade de perguntas 
(O que satisfaz a segunda tarefa e primeira (apenas no sentido de listar os que mais participam))
- Se eu clico no país o gráfico de baixo mostra as caracteristicas daqueles país ordenadas 
(O que satisfaz a primeira tarefa no sentido de mostrar as características)

In [2]:
import pandas as pd

In [9]:
stack = pd.read_csv('/home/lsp/dados/vis/dados stackoverflow.csv')
stack.head()

,Unnamed: 0,country,PDI,IDV,MAS,UAI,num_u,num_q,num_a,num_tp_c,num_tp_e,perc_a,perc_q,perc_tp_c,perc_tp_e,GNI,Internet,EPI,WVS
0,1,Argentina,49,46,56,86,2798,3.099688,5.288358,9.231639,4.415818,0.535740,0.521086,0.253395,0.092566,NaN,51.0,59.02,0.38
1,2,Australia,36,90,61,51,12313,3.750233,7.017617,11.504813,4.411497,0.613335,0.589783,0.333956,0.146999,59570.0,79.5,NaN,1.75
2,3,Austria,11,55,79,70,2518,3.728151,6.944815,11.203120,5.719545,0.631056,0.593328,0.350278,0.149325,48160.0,79.8,63.21,1.43
3,4,Bangladesh,80,20,55,60,2558,3.282644,4.965055,8.932774,6.434185,0.392885,0.475762,0.159891,0.080532,840.0,5.0,NaN,-0.93
4,5,Belgium,65,75,54,94,4275,3.795446,6.543061,11.439579,4.764057,0.608187,0.608889,0.320234,0.146667,44990.0,78.0,61.21,1.13

In [10]:
stack = stack.drop('Unnamed: 0', axis=1)
stack.head()

,country,PDI,IDV,MAS,UAI,num_u,num_q,num_a,num_tp_c,num_tp_e,perc_a,perc_q,perc_tp_c,perc_tp_e,GNI,Internet,EPI,WVS
0,Argentina,49,46,56,86,2798,3.099688,5.288358,9.231639,4.415818,0.535740,0.521086,0.253395,0.092566,NaN,51.0,59.02,0.38
1,Australia,36,90,61,51,12313,3.750233,7.017617,11.504813,4.411497,0.613335,0.589783,0.333956,0.146999,59570.0,79.5,NaN,1.75
2,Austria,11,55,79,70,2518,3.728151,6.944815,11.203120,5.719545,0.631056,0.593328,0.350278,0.149325,48160.0,79.8,63.21,1.43
3,Bangladesh,80,20,55,60,2558,3.282644,4.965055,8.932774,6.434185,0.392885,0.475762,0.159891,0.080532,840.0,5.0,NaN,-0.93
4,Belgium,65,75,54,94,4275,3.795446,6.543061,11.439579,4.764057,0.608187,0.608889,0.320234,0.146667,44990.0,78.0,61.21,1.13

In [13]:
stack = stack.fillna('Não Informado')

In [15]:
superuser = pd.read_csv('/home/lsp/dados/vis/dados superuser.csv')
superuser.head()

,Unnamed: 0,country,PDI,IDV,MAS,UAI,num_u,num_q,num_a,num_tp_c,num_tp_e,perc_a,perc_q,perc_tp_c,perc_tp_e,GNI,Internet,EPI,WVS
0,1,Argentina,49,46,56,86,561,2.143100,1.912562,3.269349,1.519006,0.245989,0.267380,0.229947,0.033868,NaN,51.0,59.02,0.38
1,2,Australia,36,90,61,51,3297,1.911509,2.327173,2.921944,2.088574,0.326964,0.311192,0.314225,0.046406,59570.0,79.5,NaN,1.75
2,3,Austria,11,55,79,70,667,1.631156,2.272723,2.630247,2.329462,0.274363,0.269865,0.278861,0.047976,48160.0,79.8,63.21,1.43
3,4,Bangladesh,80,20,55,60,363,1.782899,1.869939,2.642232,2.035558,0.121212,0.220386,0.154270,0.024793,840.0,5.0,NaN,-0.93
4,5,Belgium,65,75,54,94,1100,1.962275,2.154917,3.339209,2.234092,0.300909,0.322727,0.285455,0.048182,44990.0,78.0,61.21,1.13

In [16]:
superuser = superuser.drop('Unnamed: 0', axis=1)
superuser.head()

,country,PDI,IDV,MAS,UAI,num_u,num_q,num_a,num_tp_c,num_tp_e,perc_a,perc_q,perc_tp_c,perc_tp_e,GNI,Internet,EPI,WVS
0,Argentina,49,46,56,86,561,2.143100,1.912562,3.269349,1.519006,0.245989,0.267380,0.229947,0.033868,NaN,51.0,59.02,0.38
1,Australia,36,90,61,51,3297,1.911509,2.327173,2.921944,2.088574,0.326964,0.311192,0.314225,0.046406,59570.0,79.5,NaN,1.75
2,Austria,11,55,79,70,667,1.631156,2.272723,2.630247,2.329462,0.274363,0.269865,0.278861,0.047976,48160.0,79.8,63.21,1.43
3,Bangladesh,80,20,55,60,363,1.782899,1.869939,2.642232,2.035558,0.121212,0.220386,0.154270,0.024793,840.0,5.0,NaN,-0.93
4,Belgium,65,75,54,94,1100,1.962275,2.154917,3.339209,2.234092,0.300909,0.322727,0.285455,0.048182,44990.0,78.0,61.21,1.13

In [18]:
superuser = superuser.fillna('Não Informado')
superuser.head()

,country,PDI,IDV,MAS,UAI,num_u,num_q,num_a,num_tp_c,num_tp_e,perc_a,perc_q,perc_tp_c,perc_tp_e,GNI,Internet,EPI,WVS
0,Argentina,49,46,56,86,561,2.143100,1.912562,3.269349,1.51901,0.245989,0.267380,0.229947,0.033868,Não Informado,51,59.02,0.38
1,Australia,36,90,61,51,3297,1.911509,2.327173,2.921944,2.08857,0.326964,0.311192,0.314225,0.046406,59570,79.5,Não Informado,1.75
2,Austria,11,55,79,70,667,1.631156,2.272723,2.630247,2.32946,0.274363,0.269865,0.278861,0.047976,48160,79.8,63.21,1.43
3,Bangladesh,80,20,55,60,363,1.782899,1.869939,2.642232,2.03556,0.121212,0.220386,0.154270,0.024793,840,5,Não Informado,-0.93
4,Belgium,65,75,54,94,1100,1.962275,2.154917,3.339209,2.23409,0.300909,0.322727,0.285455,0.048182,44990,78,61.21,1.13

In [19]:
stack.to_csv('../dados/dados_stack.csv')
superuser.to_csv('../dados/dados_superuser.csv')